@media(max-width:1024px) {
    .quem-somos .conteudo {
        flex-direction: column;
        text-align: center;
        padding: 80px 20px;
    }

    .quem-somos .conteudo .informacoes .titulo{
        font-size: 35px;
    }
    
    .quem-somos .conteudo .informacoes .texto {
        font-size: 18px;
        margin-block: 35px;
    }

    .quem-somos .conteudo .informacoes .saiba-mais{
        font-size: 18px;
    }

    .quem-somos .conteudo .imagem {
        display: none;
    }
    .quem-somos .conteudo .informacoes {
        width: 100%;
    }

    .rodape .redes-sociais a {
        font-size: 20px;
        padding: 25px;
        height: 25px;
        width: 25px;
    }
    
}

@media(max-width: 900px) {
    .cabecalho .navegacao .menu .item a:active{
        background-color: #1fd75f;
    }

    .conteudo-principal .paineis {
        height: 70vh;
    }

    .rodape .navegacao {
        justify-content: center;
    }
    .rodape .navegacao .logo {
        margin-bottom: 30px;
    }
    .rodape .navegacao .logo,
    .rodape .mavegacao .redes-sociais {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 662px) {

    .cabecalho .logo{
        transform: scale(.9);
        margin-left: -20px;
    }

    .cabecalho .menu .item.btn-qs{
        width: 8em;
    }

    .conteudo-principal .paineis .seta{
        width: 12vw;
        height: 16vh;
    }

    .conteudo-principal .paineis .seta.btn-voltar {
        left: 2vw;
    }
    
    .conteudo-principal .paineis .seta.btn-avancar {
        right: 2vw;
    }
}